<h3>File Records</h3>
<table id="uploadedRecords" class="table table-striped table-bordered dataTable table-hover table-highlight table-checkable">
  <thead>
  <tr>
    <% if @uploadedSchema.size > 0 then %>
        <% @uploadedSchema.each do |schema|  %>
                <td>
                  <%= schema[:Field] %>
                </td>
      <%end%>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% if @uploadedRecords.size > 0 then %>
    <% @uploadedRecords.each do |result|  %>
        <tr>
          <% result.each do |record|%>
              <td>
                <%=record%>
              </td>
          <%end%>
        </tr>
    <%end%>
  <% end %>
  </tbody>
</table>

<%= javascript_include_tag('datauploaders.js') %>