<h3>File Records</h3>
<table id="uploadedRecords" class="table table-striped table-bordered dataTable table-hover table-highlight table-checkable">
  <thead>
  <tr>
    <% if @tableRecord[:columns].size > 0 then %>
        <% @tableRecord[:columns].each do |column|  %>
                <td>
                  <%= column[:columnname] %>
                </td>
      <%end%>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% if @tableRecord[:records].size > 0 then %>
    <% @tableRecord[:records].each do |result|  %>
            <tr>
              <% result.each do |record|%>
                  <td>
                    <%=record%>
                  </td>
              <%end%>
            </tr>
    <%end%>
  <% end %>
  </tbody>
</table>
<%= javascript_include_tag('datauploaders.js') %>