
<div>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3><strong>Welcome to Crunch Insights!!!!!!</strong></h3>
    <p style="font-size: 16px; font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;">Get Powerful Insights from Existing Data in Minutes</p>
    <p style="font-size: 16px; font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;"> Crunch Insights is a platform to allow anyone to gain insight into existing data in minutes, simply by uploading a .csv file.</p>
    <p style="font-size: 16px; font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;"> The power of Crunch Insights is the simplicity of the platform, which uses an advanced analytics engine to present the user with useful insights in a fraction of the time it takes to analyze data using most BI or analytics tools.</p>
    </p>
  </div>
</div>
